<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <link rel="stylesheet" type ="text/css" href="css/base.css">
    <script src ="jquery/jquery-2.1.3.min.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <!--<script src="javascript/autoCompleteEx.js"></script>-->
    <script src ="javascript/functions.js"></script>
    <script src ="javascript/Card.js"></script>
    <script src ="javascript/Deck.js"></script>
    <script src ="javascript/DeckArea.js"></script>
    <script src ="javascript/cards_init.js"></script>

    <title> Deck Construction</title>
</head>
<body>
<div class="notificationBox"></div>
<div class="banner">
    <!--<img src="../images/icons/placeholder.jpg" style="height: 150px; width: 500px;">-->
    <div style="min-height:50px">
        <div id='cssmenu'>
            <ul>
                <li><a href='/index'><span>Home</span></a></li>
                <li><a href='/deck_list'><span>Deck List</span></a></li>
                <li><a href='/deck_builder'><span>Deck Builder</span></a></li>
                <li class='last'><a href='/about'><span>About</span></a></li>
            </ul>
        </div>
        <!--<div class="nav-bar"><div class="nav-btn"><a href="/index">home</a></div><div class="nav-btn">test</div><div class="nav-btn"><a href="/deck_builder">Deck Builder</a></div></div>-->
        <div class="login-container"><div class="loginBtn">login</div></div>
    </div>
    <div>
        <div class="searchBar"></div>
        </div>
        <div class="button"><input id="menu" type="image" src="../images/icons/menu-btn.png" style="width: 30px; height: 30px;"></div>
    </div>
</div>

</body>
</html>

</body>
</html>