<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <link rel="stylesheet" type ="text/css" href="css/base.css">
    <script src ="jquery/jquery-2.1.3.min.js"></script>
    <script src ="javascript/functions.js"></script>
    <script src ="javascript/cards_init.js"></script>

    <title> Deck Construction</title>
</head>
<body>
<div><h3>Title</h3><br></div>
    <div class="sidebar">
        <div class="scrollBox">
            <ul class="cardSelect">


            </ul>
        </div>
        <div class="cardDisplay"></div>
    </div>
    <div id="playArea" ondragover="allowDrop(event)" ondrop="drop(event)">

    </div>


    <!--<script> addImage(null,"playArea")</script>-->
</body>
</html>
