<html>
<head>
    <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="javascript/messaging_client.js"></script>
    <script src="javascript/buttons.js"></script>
    <link rel="stylesheet" type ="text/css" href="css/base.css">
</head>
<body>
<div class = "nav"></div>
<div class = "container">
    <div class = "flex-item"><p class ="boxTitle"></p>
    <!--<textarea class="inputBox" id ="input" style="width: 300px; height: 600px;" timestamp=null></textarea>-->
    </div>

    <div class = "flex-item"><p class ="boxTitle">Output</p>
        <div class="messageBox" id ="output" style="width: 500px; height: 600px;" timestamp=null></div>
        <textarea class="inputBox" id ="input" style="width: 400px; height: 100px; margin-top:10px;" timestamp=null></textarea>
        <button type ="button" class="btn btn-send">Send</button>

    </div>
</div>

</body>
</html>