<!DOCTYPE html>
<html lang="en">
<head>
    <script src ="javascript/tute.js"></script>
    <link rel="stylesheet" type ="text/css" href="css/tute.css">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<!--<div class="header"> <h3>My Photo Album</h3></div>-->
<!--<div class="box"><img src="images/DSC01049.jpg"><br>City View</div>-->
<!--<div class="box"><img src="images/DSC01049.jpg"><br>City View</div>-->
<!--<div class="box"><img src="images/DSC01049.jpg"><br>City View</div>-->
<!--<div class="box"><img src="images/DSC01049.jpg"><br>City View</div>-->
<!--<div class="box"><img src="images/DSC01049.jpg"><br>City View</div>-->


<!--<div class="footer"> <p>by Cailen Robertson</p></div>-->


<div class="header"> <h3>My Photo Album</h3></div>

<textarea id="textArea" style="height:300px; width: 300px;" placeholder="text to run regex on."></textarea>
<textarea id="regex" style="width: 300px;" placeholder="regex"></textarea>
<button id="regexBtn">run</button>
<div id="output" style=" border: solid black 1px; width: 300px; height: 300px;"></div>


</body>
</html>